.idea
target

# dependencies
voxpopuli-frontend/node_modules
voxpopuli-frontend/.pnp
voxpopuli-frontend/.pnp.js

# testing
voxpopuli-frontend/coverage

# production
voxpopuli-frontend/build

# misc
voxpopuli-frontend/.DS_Store
voxpopuli-frontend/.env.local
voxpopuli-frontend/.env.development.local
voxpopuli-frontend/.env.test.local
voxpopuli-frontend/.env.production.local

voxpopuli-frontend/npm-debug.log*
voxpopuli-frontend/yarn-debug.log*
voxpopuli-frontend/yarn-error.log*
